body {
  font-size: 20px;
  font-family: 'Raleway', Helvetica, sans-serif;
  height: 98vh;
  width: 98vw;
}

/*LETS DO GRID*/

.container {
  width: 100%;
  display: grid;
  height: 100%;
  grid-template:
  "currentDay stats" 50fr
  "currentDay forecast" 50fr
  / 33fr 67fr;
}

.col{
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}


/*CURRENT DAY DIV*/
.currentDay {
  grid-area: currentDay;
  background: -moz-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,194,38,1)), color-stop(6%, rgba(255,194,38,1)), color-stop(100%, rgba(227,54,204,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E336CC', endColorstr='#FFC226',GradientType=1 ); /* ie6-9 */
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  color:white;
  padding: 30px 50px;
  border-top-left-radius: 1em;
  border-top-right-radius: .5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: .5em;
}


.currentDate {
  display: flex;
  margin-bottom:auto;
  font-weight: lighter;
  font-size: 135%;
}

.currentTemp {
  font-size: 345%;
}

.currentDescription{
  font-size:80%;
  font-style: italic;
}

.currentInfo{
  display: flex;
  flex-direction: column;
}


/*Stats Div*/



.stats-cont {
  height: auto;
  width: 100%;
  display: grid;
  grid-template:
  "header" 1fr
  "stats"  4fr
  / 1fr;
}

#stats-header{
  border-bottom: grey  1px solid;
  width:90%;
  margin-left: 5%;
  grid-area: header;
}

.stats {
  grid-area: stats;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.stats .col {
  font-size: 220%;
  align-items: center;
}

.forecasts {
  width: 90%;
  margin-left: 5%;
  grid-area: forecast;
  height: 100%;
  display: grid;
  grid-template:
  "nav" 1fr
  "forecast-info" 4fr
  / 100fr;

}

/*hourly and weekly forecast rows */
.todayForecast{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weeklyForecast {
  height: 100fr;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
display: flex;
justify-content: space-between;
padding: 14px;

}

.day, .hourlyTime {
  padding-right: 20px;
}

/*forecast nav */
nav {
  grid-area: nav;
  margin-bottom: 25px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: grey 1px solid;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none ;
}

.active {
  background: -moz-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,194,38,1)), color-stop(6%, rgba(255,194,38,1)), color-stop(100%, rgba(227,54,204,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,194,38,1) 0%, rgba(255,194,38,1) 6%, rgba(227,54,204,1) 100%); /* w3c */
  border-bottom:orange solid 2px;
}


/*MEDIA QUERIES */
@media only screen and (max-width: 800px){
  body {
    height: auto;
    font-size: 17px;
  }

  .container {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template:
    "currentDay" auto
    "stats" auto
    "forecast" auto
    / 100fr;
  }
}
